n8n/sportunion-sync-fixed.json
{
  "name": "SportUnion - Sync Matches (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "61" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-ligue1",
      "name": "API Ligue 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 50]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "39" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-premier-league",
      "name": "API Premier League",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 150]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "140" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-la-liga",
      "name": "API La Liga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 250]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "135" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-serie-a",
      "name": "API Serie A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "78" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-bundesliga",
      "name": "API Bundesliga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 450]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "7bc89631933a75013887398bb7225965"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "league", "value": "63" },
            { "name": "season", "value": "2024" },
            { "name": "from", "value": "2024-12-01" },
            { "name": "to", "value": "2024-12-31" }
          ]
        },
        "options": {}
      },
      "id": "api-national",
      "name": "API National",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 550]
    },
    {
      "parameters": {
        "mode": "aggregate",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-all",
      "name": "Aggregate All",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse les données API-Football\nconst allMatches = [];\nconst allCompetitions = new Map();\n\n// Récupérer toutes les données agrégées\nconst items = $input.all();\n\nfor (const item of items) {\n  // Les données peuvent être dans item.json.data ou directement dans item.json\n  const dataArray = item.json.data || [item.json];\n  \n  for (const data of dataArray) {\n    const response = data.response || [];\n    \n    for (const fixture of response) {\n      if (!fixture.fixture || !fixture.league || !fixture.teams) continue;\n      \n      const { fixture: f, league, teams, goals } = fixture;\n      \n      // Mapping du status\n      let status = 'upcoming';\n      const shortStatus = f.status?.short || 'NS';\n      if (['1H', '2H', 'HT', 'ET', 'P', 'BT', 'LIVE'].includes(shortStatus)) {\n        status = 'live';\n      } else if (['FT', 'AET', 'PEN', 'AWD', 'WO'].includes(shortStatus)) {\n        status = 'finished';\n      }\n      \n      // Date et heure\n      const matchDate = new Date(f.date);\n      const dateStr = matchDate.toISOString().split('T')[0];\n      const timeStr = matchDate.toTimeString().split(' ')[0].substring(0, 5);\n      \n      // Match\n      allMatches.push({\n        id: `api-${f.id}`,\n        team1: teams.home?.name || 'TBD',\n        team2: teams.away?.name || 'TBD',\n        score1: goals?.home ?? 0,\n        score2: goals?.away ?? 0,\n        status,\n        league: league.name,\n        image: league.logo || '',\n        date: dateStr,\n        time: timeStr,\n        stadium: f.venue?.name || null\n      });\n      \n      // Compétition\n      if (!allCompetitions.has(league.id)) {\n        const slug = league.name.toLowerCase()\n          .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n          .replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\n        \n        allCompetitions.set(league.id, {\n          id: slug,\n          name: league.name,\n          logo_url: league.logo,\n          country: league.country,\n          current_season: String(league.season)\n        });\n      }\n    }\n  }\n}\n\nconsole.log(`Parsed ${allMatches.length} matches and ${allCompetitions.size} competitions`);\n\nreturn [{\n  json: {\n    matches: allMatches,\n    competitions: Array.from(allCompetitions.values()),\n    matchCount: allMatches.length,\n    competitionCount: allCompetitions.size\n  }\n}];"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uysokweprddjpxitjhtn.supabase.co/rest/v1/competitions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5c29rd2VwcmRkanB4aXRqaHRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzIwNTQzMywiZXhwIjoyMDgyNzgxNDMzfQ.lmYMPum_4ZcWLp8uE7vNKsxseZsHmDSl6-qEYkUHIsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5c29rd2VwcmRkanB4aXRqaHRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzIwNTQzMywiZXhwIjoyMDgyNzgxNDMzfQ.lmYMPum_4ZcWLp8uE7vNKsxseZsHmDSl6-qEYkUHIsM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.competitions) }}",
        "options": {}
      },
      "id": "supabase-competitions",
      "name": "Upsert Competitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uysokweprddjpxitjhtn.supabase.co/rest/v1/matches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5c29rd2VwcmRkanB4aXRqaHRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzIwNTQzMywiZXhwIjoyMDgyNzgxNDMzfQ.lmYMPum_4ZcWLp8uE7vNKsxseZsHmDSl6-qEYkUHIsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5c29rd2VwcmRkanB4aXRqaHRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzIwNTQzMywiZXhwIjoyMDgyNzgxNDMzfQ.lmYMPum_4ZcWLp8uE7vNKsxseZsHmDSl6-qEYkUHIsM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.matches) }}",
        "options": {}
      },
      "id": "supabase-matches",
      "name": "Upsert Matches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 400]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "Done ✅",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Cron 30min": {
      "main": [
        [
          { "node": "API Ligue 1", "type": "main", "index": 0 },
          { "node": "API Premier League", "type": "main", "index": 0 },
          { "node": "API La Liga", "type": "main", "index": 0 },
          { "node": "API Serie A", "type": "main", "index": 0 },
          { "node": "API Bundesliga", "type": "main", "index": 0 },
          { "node": "API National", "type": "main", "index": 0 }
        ]
      ]
    },
    "API Ligue 1": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "API Premier League": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "API La Liga": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "API Serie A": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "API Bundesliga": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "API National": { "main": [[{ "node": "Aggregate All", "type": "main", "index": 0 }]] },
    "Aggregate All": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "Parse JSON": {
      "main": [[
        { "node": "Upsert Competitions", "type": "main", "index": 0 },
        { "node": "Upsert Matches", "type": "main", "index": 0 }
      ]]
    },
    "Upsert Competitions": { "main": [[{ "node": "Done ✅", "type": "main", "index": 0 }]] },
    "Upsert Matches": { "main": [[{ "node": "Done ✅", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
